In [1]:
                    # UNDERSTANDING THE VARIABLES IN PYTHON

In [22]:
X=5
Y=3

In [3]:
X+Y

8

In [48]:
x=10
print(x)

10

In [47]:
type(x)

int

In [19]:
y=20

In [6]:
x+y

30

In [9]:
x-y

-10

In [12]:
X=5
Y=3
X-Y

2

In [13]:
x*y

200

In [14]:
X*Y

15

In [15]:
x/y

0.5

In [16]:
X/Y

1.6666666666666667

In [23]:
(X+Y)-(X*Y)

-7

In [24]:
                           #### RULES FOR DECLARING THE VARIBALES ####

In [25]:
FIRST NAME = 'SURESH'

SyntaxError: invalid syntax (<ipython-input-25-796770775d8f>, line 1)

In [26]:
FIRST NAME = 'SURESH'    ####  No Name_space while declaring the variable Name
PRINT(FIRST NAME)

SyntaxError: invalid syntax (<ipython-input-26-78b2ad638d5b>, line 1)

In [3]:
FIRST_NAME = 'SURESH'
PRINT(FIRST NAME)        ### PRINT is keyword so we should use print in small letters####

SyntaxError: invalid syntax (<ipython-input-3-d2412f30123c>, line 2)

In [28]:
PRINT(FIRST NAME)  ######PRINT is keyword so we should use print in small letters

SyntaxError: invalid syntax (<ipython-input-28-3d36fcb9a701>, line 1)

In [2]:
FIRST_NAME = 'SURESH'
print(FIRST_NAME)

SURESH

In [5]:
2.

2.0

In [6]:
                     ## VARIABLE NAME SHOULD NOT START WITH A NUMBER####

In [7]:
8055hero = 'surya'  ##VARIABLE NAME SHOULD NOT START WITH A NUMBER

SyntaxError: invalid syntax (<ipython-input-7-8fe03f14f9d9>, line 1)

In [8]:
8055_hero= "surya" ###VARIABLE NAME SHOULD NOT START WITH A NUMBER
print(8055_hero)

SyntaxError: invalid decimal literal (<ipython-input-8-e7c761fefc5b>, line 1)

In [9]:
hero8055="surya"
print(hero8055)

surya

In [10]:
hero_8055="python"
print(hero_8055)

python

In [16]:
hero8055_="python"
print(hero_8055_)

NameError: name 'hero_8055_' is not defined

In [11]:
                ### VARIABLE NAME SHOULD NOT INCLUDE ANY SPECIAL CHARACTERS LIKE #@!$&*........####

In [13]:
name@='fundamental'
print(name@)

SyntaxError: invalid syntax (<ipython-input-13-80bb8ea49cb9>, line 2)

In [14]:
@name='fundamental'
print(@name)

SyntaxError: invalid syntax (<ipython-input-14-69189320cfbf>, line 1)

In [15]:
first@name='fundamental'
print(first@name)

SyntaxError: cannot assign to operator (<ipython-input-15-88bd723c2273>, line 1)

In [ ]:
                             ### introduction to datatypes ####

In [22]:
##classification of datatypes

In [23]:
mutable:- which we can edit/alter once it has been created
Immutable:-  which we can't able to edit/alter once it has been created

SyntaxError: invalid syntax (<ipython-input-23-09b091311ae1>, line 1)

In [24]:
name = 'suresh'
print(name)

suresh

In [25]:
type(name) ## to validate and verify the data type we use type()

str

In [27]:
name='Ashok'
print(name)

Ashok

In [28]:
name = "raju"
print(name)

raju

In [29]:
name = "'Srikanth'"
print(name)

'Srikanth'

In [33]:
name = "'Srikanth'"
print(name)
type(name)

'Srikanth'

str

In [34]:
                                        ### 1st Letter as Capital ####

In [35]:
first_name = "fundamental_python"
print(first_name)

fundamental_python

In [37]:
## TITLE()

first_name = "fundamental_python"          # 1st Letter as Capital #
print(first_name.title())          #@ To use First letter in the word as Capital Letter then we should use TITLE()

Fundamental_Python

In [38]:
## CAPITAL LETTERS

In [40]:
subject ="python_jupiter"
print(subject.upper())

PYTHON_JUPITER

In [41]:
subject ="python_jupiter"
print(subject.UPPER())          ####  'str' object has no attribute 'UPPER' ###

AttributeError: 'str' object has no attribute 'UPPER'

In [42]:
subject ="python_Jupiter"
print(subject.upper())

PYTHON_JUPITER

In [46]:
### LOWER ### 
subject ="python_Jupiter"
print(subject.lower())

lenovo

In [45]:
subject ="LENOVO"
print(subject.lower())

lenovo