In [1]:
MY-STUDENTS =  ['Ram','Ashok','Suresh','Raju','python']

SyntaxError: cannot assign to operator (<ipython-input-1-bea4aa9f2ab4>, line 1)

In [40]:
my_students =('Ram','Ashok','Suresh','Raju','python')
print(my_students)

('Ram', 'Ashok', 'Suresh', 'Raju', 'python')

In [2]:
my_students =  ['Ram','Ashok','Suresh','Raju','python']

In [3]:
my_students =  ['Ram','Ashok','Suresh','Raju','python']
print(my_students)

['Ram', 'Ashok', 'Suresh', 'Raju', 'python']

In [4]:
my_students =  ['Ram','Ashok','Suresh','Raju','python']
print(my_students)
type(my_students)

['Ram', 'Ashok', 'Suresh', 'Raju', 'python']

list

In [5]:

                                ## organizing the list ##

In [7]:
# Requirement:-
 I want to organize the list in an Alphabetical order --> A TO Z
    for this we have 2 possible ways
    1 . sort -----> permanent changes
    2. sorted ----> Temporary changes

IndentationError: unexpected indent (<ipython-input-7-dd69f3eb13f6>, line 2)

In [8]:
## sorted order is in Alphabetical order but changed permanently

print(sorted(my_students))

['Ashok', 'Raju', 'Ram', 'Suresh', 'python']

In [14]:
print(my_students)

['Ram', 'Ashok', 'Suresh', 'Raju', 'python']

In [15]:
print(sort(my_students))

NameError: name 'sort' is not defined

In [16]:
my_students =  ['Ram','Ashok','Suresh','Raju','python']
print(my_students)
type(my_students)

['Ram', 'Ashok', 'Suresh', 'Raju', 'python']

list

In [22]:
## sort:-  order is in Alphabtical order and  we can alter or modify once executes

print( sorted(my_students))

['Ashok', 'Raju', 'Ram', 'Suresh', 'python']

In [23]:
my_students.sort()
print(my_students)

['Ashok', 'Raju', 'Ram', 'Suresh', 'python']

In [26]:
print(my_students)

['Ashok', 'Raju', 'Ram', 'Suresh', 'python']

['Ashok', 'Raju', 'Ram', 'Suresh', 'python']

In [ ]:
           ## REVERSE ORDER ##

In [29]:
print(my_students)

['Ashok', 'Raju', 'Ram', 'Suresh', 'python']

In [30]:
my_students.reverse()

In [36]:
print(my_students)

['python', 'Suresh', 'Ram', 'Raju', 'Ashok']

In [35]:
my_students.reverse()
print(my_students)

['python', 'Suresh', 'Ram', 'Raju', 'Ashok']

In [37]:
                        ##  number of elements / COUNTING ##

In [38]:
len((my_students))

5

In [41]:
                #### SLICING ###

In [42]:
programmers = ('suresh','Ashok','Raju',"srikanth")

In [43]:
print(programmers[0:1])

('suresh',)

In [44]:
print(programmers[0:2])

('suresh', 'Ashok')

In [45]:
print(programmers[1:3])

('Ashok', 'Raju')

In [52]:
print(programmers[2:1])

()

In [47]:
print(programmers[1:2])

('Ashok',)

In [48]:
print(programmers[1:4])

('Ashok', 'Raju', 'srikanth')

In [49]:
print(programmers[1:3])

('Ashok', 'Raju')

In [50]:
print(programmers[2:4])

('Raju', 'srikanth')

In [51]:
print(programmers[0:4])

('suresh', 'Ashok', 'Raju', 'srikanth')